{% extends 'tools/tool_layout.html' %}

{% block head %}{% include "password_checker/includes/head.html" %}{% endblock head %}

{% block content -%}

<main>
    <section>
        <h1>Password Checker</h1>
        <article>
            <h2>Check your password</h2>
            <p id="description">Enter a password in the box below and press the 
                "check" button to analyze it. The aspects that it complies with 
                and those that could be applied to make it more secure will be 
                shown below.</p>
            <label for="password">Introduce your password:</label>
            <input type="password" name="password" id="password">
            <button type="button" id="check-button">Check</button>
            <ul id="pw-info">
            </ul>
        </article>
        <article>
            <h2>Password Table</h2>
            <p>For further reference, below are the times it would take a hacker 
                to brute force crack a password based on its length and 
                structure.</p>
            <div id="password-table-container">
                {% include "password_checker/includes/password_table.html" %}
            </div>
        </article>
    </section>
</main>

{%- endblock content %}