p {
    text-align: justify;
}

#pw-info {
    display: none; /* Modified with JavaScript */
    padding-left: 20px;
    text-align: left;
}

#pw-info > .pw-check-okay::before {
    content: "\02705"; /* ✅ */
}

#pw-info > .pw-check-warning::before {
    content: '⚠️'; /* ⚠️ */
}

#pw-info > .pw-check-wrong::before {
    content: '\0274C'; /* ❌ */
}