#password-table-container {
    border: 1px solid white;
    margin: auto 0;
    overflow-x: auto;
}

#password-table caption {
    border-bottom: 1px solid white;

    color: white;
    background-color: black;
}

#password-table caption span {
    display: block;
}

#password-table-source a{
    color: white;
}

#password-table thead {
    background-color: black;
}

#password-table th{
    width: 20em;
}

#password-table tr{
    height: 1.5em;
}

.pw-len {
    background-color: gray;
}

.bf-time-instant {
    background-color: blueviolet;
}

.bf-time-low {
    background-color: red;
}

.bf-time-medium-low {
    background-color: orangered;
}

.bf-time-medium-high {
    background-color: orange;
}

.bf-time-high {
    background-color: green;
}
