[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
pyyaml = "*"
click = "*"
markdown = "*"

[dev-packages]
pytest = "*"
lorem-text = "*"
coverage = "*"

[requires]
python_version = "3.10"
